---
layout: default
---

{% for post in site.posts reverse %}
    {% include archive_post.html %}
{% endfor %}
<nav id="pagenavi">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="{{ root_url }}/" class="prev">Prev</a>
        {% else %}
            <a href="{{ root_url }}/posts/{{paginator.previous_page}}" class="prev">Prev</a>
        {% endif %}
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ root_url }}/posts/{{paginator.next_page}}" class="next">Next</a>
    {% endif %}
    <div class="center"><a href="#"></a></div>
</nav>
